<nz-layout style="overflow: auto">
  <app-header id="header"></app-header>
  <app-header id="head-placeholder"></app-header>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="15%">
      <ul nz-menu nzMode="inline" nzTheme="dark">
        <li nz-menu-item routerLink="/overview" nzSelected>
          <span nz-icon nzType="project" nzTheme="outline"></span>
          <span>Overview</span>
        </li>
        <li nz-menu-item routerLink="/code-editor">
          <span nz-icon nzType="form" nzTheme="outline"></span>
          <span>Code Editor</span>
        </li>
        <li nz-menu-item routerLink="/submit-new-job">
          <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
          <span>Submit new Job</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content id="content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
