.info-title {
  font-size: var(--title-tertiary);
  color: var(--color-text-sub-title);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-number {
  font-size: var(--text-number);
  color: var(--color-text-body);
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  height: 2px;
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: var(--border-primary);
}

.running-icon {
  color: var(--accent-color-success);
}

.completed-icon {
  color: var(--accent-color-warning);
}

#app-box {
  border-radius: 14px;
  border: 2px solid #FFFFFF;
  background-color: var(--background-secondary);
  padding: 20px;
  display: inline-block;
  white-space: normal;
  margin-right: 20px;
  // box-shadow: 2px 2px 3px 3px rgba(3, 7, 19, 0.4);
  box-shadow: 0 26px 10px -24px rgb(1,1,1);
  cursor: pointer;
  transition: all 0.3s;
}

#app-box:hover {
  transition: box-shadow 0.3s;
  transform: translateY(-3px);
  box-shadow: 0 26px 20px -24px rgb(1,1,1);
}


#app-title {
  font-size: var(--title-secondary);
  padding-bottom: 16px;
}
