<nz-layout>
  <app-header></app-header>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="15%">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item routerLink="/overview" nzSelected>
          <span nz-icon nzType="project" nzTheme="outline"></span>
          <span>Overview</span>
        </li>
        <li nz-submenu routerLink="/about" nzTitle="Applications" nzIcon="database">
          <ul>
            <li nz-menu-item routerLink="/applications/processing-applications">
              <span>Processing applications</span>
            </li>
            <li nz-menu-item routerLink="/applications/finished-applications">Finished applications</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content id="content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
