<nz-row id="app-board" style="width: 100%">
  <nz-col nzSpan="24">
<!--    <nz-row class="board-title" nzJustify="space-between" nzAlign="top">-->
<!--      <nz-col nzSpan="24">-->
<!--        <span><b>Performance</b></span>-->
<!--      </nz-col>-->
<!--    </nz-row>-->
    <nz-tabset>
      <nz-tab nzTitle="Overall Performance">
        <nz-row nzJustify="space-around">
          <nz-col nzSpan="11">
            <div id="throughputLatencyContainer">
            </div>
          </nz-col>
          <nz-col nzSpan="11">
            <div id="timeChartContainer">
            </div>
          </nz-col>
        </nz-row>
      </nz-tab>
      <nz-tab nzTitle="Statistics">
        <nz-descriptions nzBordered>
          <nz-descriptions-item nzSpan="3" nzTitle="Total Number of Events">{{job.nevents}}</nz-descriptions-item>
          <nz-descriptions-item nzSpan="1" nzTitle="Event Minimal Processing Time (ms)">{{job.minProcessTime}}</nz-descriptions-item>
          <nz-descriptions-item nzSpan="1" nzTitle="Event Maximal Processing Time (ms)">{{job.maxProcessTime}}</nz-descriptions-item>
          <nz-descriptions-item nzSpan="1" nzTitle="Event Mean Processing Time (ms)">{{job.meanProcessTime}}</nz-descriptions-item>
          <nz-descriptions-item nzSpan="3" nzTitle="Total Time Used (s)">{{job.duration}}</nz-descriptions-item>
          <nz-descriptions-item nzSpan="1" nzTitle="Average Latency (ms)">{{job.latency}}</nz-descriptions-item>
          <nz-descriptions-item nzSpan="1" nzTitle="Overall Throughput (tuple/s)">{{job.throughput}}</nz-descriptions-item>
          <nz-descriptions-item nzSpan="1" nzTitle="Number of Core">{{job.ncore}}</nz-descriptions-item>
          <!--     TODO: add a file path variable     -->
          <nz-descriptions-item nzSpan="3" nzTitle="Output File Path">C:\Users\siqxi\data\E901C1E456140E515FC645602F8AF5A12B7BDC3CDE42D11F7823938B6FBE8919_200.txt</nz-descriptions-item>
        </nz-descriptions>
      </nz-tab>
      <nz-tab nzTitle="Output Files"></nz-tab>
    </nz-tabset>
  </nz-col>
</nz-row>
