//.container {
//  margin: 0;
//  background-color: var(--background-secondary);
//  padding: 16px 20px 30px;
//  border-radius: 20px;
//  border: 2px;
//}

.container {
  margin: 10px 0 16px 0;
  //background-color: var(--background-secondary);
  background-color: #FCFCFD;
  padding: 6px 20px;
  border-radius: 0;
  border: 2px;
}

#job-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-container {
  margin: 0 0;
  padding: 10px 20px 30px;
}

.title {
  font-size: var(--title-extra);
  display: flex;
  align-items: center; /* Align items vertically center */
  //text-align: center; /* Aligns the content of the container to the center */
  margin-bottom: 20px;
}

.text-subtitle {
  font-size: var(--title-secondary);
  display: inline-block;
  text-align: center;
}

.separator {
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--border-primary);
}

.sub-progress-bar-section {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
}

.progress-bar-col {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.control-btn {
  font-size: 24px;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background: transparent;
}

.control-btn:hover {
  background: var(--background-secondary);
}

#title-text {
  display: inline-block;
  text-align: center;
}

#control-bar {
  width: 200px;
  height: 80px;
  background: var(--background-quaternary);
  border-radius: 50px;
  padding: 10px 30px;
}

#app-card-col {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#progress-bar-section {
  margin-top: 50px;
}

#operator-list-view {
  //height: 100%;
  overflow-y: auto;
}

#job-description-view {
  flex: 1;
}

.job-info-row {
  align-items: stretch;
  height: auto;
  display: flex;
  position: relative;
}

.board-title {
  font-size: var(--title-secondary);
  padding-bottom: 16px;
}


.selector_container {
  margin-top: 20px;
  margin-bottom: 20px;
}
