<div id="main-container">
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['overview']">Overview</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="container">
      <form id="filter-form" nz-form [formGroup]="filterForm" nzLayout="horizontal">
        <div nz-row nzGutter="24">
          <nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control>
                <nz-select nzPlaceHolder="Name" nzAllowClear formControlName="name">
                  <nz-option
                    *ngFor="let job of currentPageJob" [nzLabel]="job.name" [nzValue]="job.name">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col [nzSpan]="4">
            <nz-form-item>
              <nz-form-control>
                <nz-select nzPlaceHolder="Status" nzAllowClear formControlName="status">
                  <nz-option [nzLabel]="'Running'" [nzValue]="true"></nz-option>
                  <nz-option [nzLabel]="'Stopped'" [nzValue]="false"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col>
            <button nz-button nzType="primary" (click)="onFilterJob()">Filter</button>
          </nz-col>
        </div>
      </form>
    </div>
    <div class="container">
      <nz-table [nzData]="filteredJobs" [nzPageSize]="pageSize" [nzPageIndex]="currentPageIndex"
        [nzTotal]="filteredJobs.length" (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)" [nzLoading]="tableIsLoading">
        <thead>
          <tr>
            <th>Name</th>
            <th>Working Threads</th>
            <th>Create Time</th>
            <th>Duration</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let application of currentPageJob">
            <td><a [routerLink]="['/job', application.jobId]"><b>{{application.name}}</b></a></td>
            <td>{{application.nthreads}}</td>
            <td>{{application.startTime}}</td>
            <td>{{application.duration}} s</td>
            <td><nz-tag [nzColor]="application.isRunning?'#2db7f5':'#cd201f'">{{application.isRunning?"running":"stopped"}}</nz-tag></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</div>
