.title {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.separator {
  height: 2px;
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: var(--border-primary);
}

#main-container {
  margin: 10px 1.6% 0;
  padding: 16px 20px 30px;
}

.application-card {
  width: 100%;
  //text-align: center;
  background: var(--background-tertiary);
  min-height: 80px;
  cursor: pointer;
  transition: all 0.8s;
  border-top: 6px solid var(--background-menu);
  //margin-bottom: 2px;
  font-size: var(--title-tertiary);
  //font-size: var(--text-body);
  padding: 16px 30px;
  text-align: left;
}

.application-card:hover {
  transition: all 0.8s;
  transform: translateY(-10px);
  box-shadow: 0 26px 40px -24px rgb(1,1,1);
}

.info-title {
  display: flex;
  align-items: center;
  color: var(--border-accent-b);
}

.info-content {
  display: flex;
  align-items: center;
}

.info-row {
  margin-top: 6px;
}

.control-btn:hover {
  background: var(--background-secondary);
}
