.title {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.separator {
  height: 2px;
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: var(--border-primary);
}

#main-container {
  margin: 10px 1.6% 0;
  padding: 16px 20px 30px;
}
