<head>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval';">
</head>
<div id="main-container">
  <nz-content id="content">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['code-editor']">Code Editor</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <div id="code-container">
      <ngx-codemirror id="codemirror"
        [(ngModel)]="code"
        [options]="codemirrorOptions">
      </ngx-codemirror>
    </div>
    <nz-row nzJustify="start">
      <nz-col nzSpan="24">
        <div style="text-align: right">
          <button nz-button nzSize="default" nzType="default" style="margin-right: 20px">Save</button>
          <button nz-button nzSize="default" nzType="primary" style="margin-right: 20px">Submit New Job</button>
        </div>
      </nz-col>
    </nz-row>
  </nz-content>
</div>
