#code-container {
  margin: 10px 0 16px 0;
  background-color: #FCFCFD;
  border-radius: 0;
  border: 2px;
  height: 100%;
}

#main-container {
  margin: 0 0;
  padding: 10px 20px 30px;
  height: 100%;
}

#content {
  height: 100%;
}

#code-container {
  height: 90%;
}

.editor {
  height: 100%;
}

#modal-container {
  width: 100%;
}
