.container {
  margin: 0;
  background-color: var(--background-secondary);
  padding: 16px 20px 30px;
  border-radius: 20px;
  border: 2px;
}

#main-container {
  margin: 10px 1.6% 0;
  padding: 16px 20px 30px;
}

.title {
  font-size: var(--title-extra);
  display: flex;
  align-items: center; /* Align items vertically center */
  //text-align: center; /* Aligns the content of the container to the center */
  margin-bottom: 20px;
}

.separator {
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--border-primary);
}

#title-text {
  display: inline-block;
  text-align: center;
}

#control-bar {
  width: 200px;
  height: 80px;
  background: var(--background-quaternary);
  border-radius: 50px;
  padding: 10px 30px;
}

.control-btn {
  font-size: 36px;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background: transparent;
}

.control-btn:hover {
  background: var(--background-secondary);
}

#progress-bar-section {
  margin-top: 50px;
}

.text-subtitle {
  font-size: var(--title-tertiary);
  display: inline-block;
  text-align: center;
}

.sub-progress-bar-section {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
}
