.container {
  margin: 20px 3%;
  background-color: var(--background-primary);
}

.title {
  font-size: 24px;
}

.separator {
  height: 2px;
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: var(--border-primary);
}
