<nz-content>
  <div class="container">
    <div nz-row class="title">
      <span><b>Running Applications</b></span>
      <span id="btn-add-new-application" nz-icon nzType="plus-square" nzTheme="outline"></span>
    </div>
    <div nz-row class="separator"></div>
    <app-scroll-wrapper [applications] ="runningApplications"></app-scroll-wrapper>
  </div>
  <div class="container">
    <div nz-row class="title">
      <span><b>Completed Applications</b></span>
    </div>
    <div nz-row class="separator"></div>
    <app-scroll-wrapper [applications]="completedApplications"></app-scroll-wrapper>
  </div>
</nz-content>
