<nz-row id="app-board" style="width: 100%">
  <nz-col nzSpan="24">
    <nz-tabset>
      <nz-tab nzTitle="TPG Graph">
        <nz-row>
          <nz-col style="width: 100%">
<!--            <span id="check-graph-btn" (click)="onTpgClick()"><i>Check the TPG graph of {{operator.name}} >>></i></span>-->
            <app-tpg-graph style="width: 100%"></app-tpg-graph>
          </nz-col>
        </nz-row>
      </nz-tab>
      <nz-tab nzTitle="Information">
        <nz-row nzJustify="space-around" nzAlign="top">
          <nz-col nzSpan="11" class="info-block">
            <nz-row style="width: 100%">
              <nz-col nzSpan="24">
                <span class="sub-title">Scheduling Strategies</span>
                <div class="separator"></div>
                <nz-row style="width: 100%" nzJustify="center" class="content-container">
                  <nz-col nzSpan="20">
                    <span class="content">{{ operator.explorationStrategy }}</span>
                  </nz-col>
                </nz-row>
                <nz-row style="width: 100%" nzJustify="center" class="content-container">
                  <nz-col nzSpan="20">
                    <span class="content">{{ operator.schedulingGranularity }}</span>
                  </nz-col>
                </nz-row>
                <nz-row style="width: 100%" nzJustify="center" class="content-container">
                  <nz-col nzSpan="20">
                    <span class="content">{{ operator.abortHandling }}</span>
                  </nz-col>
                </nz-row>
              </nz-col>
            </nz-row>
          </nz-col>
          <nz-col nzSpan="11" class="info-block">
            <nz-row style="width: 100%">
              <nz-col nzSpan="24">
                <nz-row>
                  <span class="sub-title">TPG Properties</span>
                </nz-row>
                <div class="separator"></div>
                <nz-row style="width: 100%" nzJustify="center" class="content-container">
                  <nz-col nzSpan="20">
                    <span class="content">Number of TDs: {{ operator.numOfTD != -1? operator.numOfTD: "N.A" }}</span>
                  </nz-col>
                </nz-row>
                <nz-row style="width: 100%" nzJustify="center" class="content-container">
                  <nz-col nzSpan="20">
                    <span class="content">Number of LDs: {{ operator.numOfLD != -1? operator.numOfLD: "N.A" }}</span>
                  </nz-col>
                </nz-row>
                <nz-row style="width: 100%" nzJustify="center" class="content-container">
                  <nz-col nzSpan="20">
                    <span class="content">Number of PDs: {{ operator.numOfPD != -1? operator.numOfPD: "N.A" }}</span>
                  </nz-col>
                </nz-row>
              </nz-col>
            </nz-row>
          </nz-col>
        </nz-row>
      </nz-tab>
    </nz-tabset>
  </nz-col>
</nz-row>
