<nz-row id="app-board" style="width: 100%">
  <nz-col nzSpan="24">
    <nz-row class="board-title" nzJustify="space-between" nzAlign="top">
      <nz-col nzSpan="18" class="board-title-text">
        <span><b>DAG Visualization</b></span>
      </nz-col>
      <nz-col nzSpan="5" *ngIf="application.isRunning" class="running-icon">
        <nz-row>
          <nz-col nzSpan="18" class="info-title">
            <span><b>Number of Operators </b></span>
          </nz-col>
          <nz-col nzSpan="6" class="info-number">
            <span><b>6</b></span>
          </nz-col>
        </nz-row>
      </nz-col>
      <nz-col nzSpan="1">
      </nz-col>
    </nz-row>
    <nz-row>
      <app-info-scroll-wrapper style="width: 100%;"></app-info-scroll-wrapper>
    </nz-row>
  </nz-col>
</nz-row>
