// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../../node_modules/ng-zorro-antd/ng-zorro-antd.less";
//@primary-color: #f5222d;
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less


:root {
  /* Colors */
  /* Background */
  --background-header: #050E26;
  --background-menu: #081842;
  --background-primary: #091B4B;
  --background-secondary: #242F63;
  --background-tertiary: #3B4479;
  --background-quaternary: #0FB2E5;

  /* Text */
  --text-heading: #FFFFFF;
  --text-body: #FFFFFF;
  --text-sub-title: #0FB2E5;

  /* Accent Colors */
  --accent-color-success: #7AE129;
  --accent-color-warning: #E52424;
  --accent-color-info: #0FB2E5;

  /* Border Colors */
  --border-primary: #FFFFFF;
  --border-accent-a: #7AE129;
  --border-accent-b: #0FB2E5;

  /* Button Colors */
  --btn-primary: #3B4479;
  --btn-secondary: #BEBEBE;
}

body {
  background: var(--background-default);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;;
}

// general
@text-color: var(--text-body);
@layout-trigger-background: var(--btn-secondary);

// menu & background
@layout-header-background: var(--background-menu);
@menu-bg: var(--background-menu);
@menu-inline-submenu-bg: var(--background-secondary);
@menu-item-active-bg: var(--btn-primary);
@menu-popup-bg: var(--background-secondary);
@menu-highlight-color: var(--accent-color-info);
